# Local Terraform state
*.tfstate
*.tfstate.*

# Crash logs (if Terraform crashes)
crash.log

# Terraform backup files
*.backup

# Terraform plan files
*.tfplan

# Terraform plugin and module cache
.terraform/

# Ignore ruff cache
.ruff_cache

*.pyc
__pycache__/
