# Local Terraform state
*.tfstate
*.tfstate.*

# Crash logs (if Terraform crashes)
crash.log

# Terraform backup files
*.backup

# Terraform plan files
*.tfplan

# Terraform plugin and module cache
.terraform/

# Ignore ruff cache
.ruff_cache

# Ignore py chache 
*.pyc
__pycache__/

# Ignore environment files (including any variants)
*.env
