fastapi==0.115.0
protobuf==5.28.2
pydantic==2.9.2
PyJWT==1.7.1
PyJWT==2.9.0
sendgrid==6.11.0
uvicorn==0.31.0
Werkzeug==3.0.4
google-api-core==2.20.0
google-auth==2.35.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-secret-manager==2.20.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpc-google-iam-v1==0.13.1